/* #countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(0, 136, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.50s;
}
.buttons:hover{
    background-color: rgb(0, 35, 141);
} */
/* body{
    font-family: verdana;
    font-size: 2em;
}
#mysubmit{
    font-size: 1em;
} */

/* body{
    font-family: arial, sans-serif;
    background-color: rgb(204, 204, 210);
}
h1{
    color: rgb(1, 105, 250);
}

form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    max-width:350px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.3);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    margin-bottom:15px;
}
label{
    font-size:1.5em;
    font-weight: bold;
}
button{
    margin-top:15px;
    background-color:hsl(0, 100%, 60%);
    color:white;
    font-size: 1.5em;
    border:none;
    padding:10px 15px;
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    background-color: hsl(0, 98%, 36%);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
} */



#container{
   font-family: sans-serif;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding:10px 15px;
    background-color: rgb(14, 151, 14);
    border:none;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
     background-color: rgb(42, 198, 42);
}
button:active{
     background-color: rgb(125, 225, 125);;
}
input{
    width:150px;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width:150px;
    margin:5px;
}

